@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #041562;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background-color: #11468f;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tarjeta-de-mokepon img {
  width: 80px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  margin: 30px;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
}

input {
  display: none;
}

input:checked + label {
  background-color: #5d8bf4;
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background-color: #11468f;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 150px;
  color: white;
}

#mensajes {
  width: 280px;
  background: #eeeeee;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: none;
  color: #11468f;

}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
}

.marcador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marcador p, div {
  text-align: center;
  color: white;
}

@media (max-width: 650px) {
  .tarjetas,.tarjetas-ataques {
    flex-direction: column;
  }
  
}